@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd Font", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#window {
  background: @background;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 5px;
}

window#waybar {
  background: transparent;
  color: @on_surface;
}

tooltip {
  background: @background;
  border-radius: 5px;
}

tooltip label {
  color: @on_surface;
}

#workspaces {
  background: @background;
  margin: 5px;
  border-radius: 5px;
}

#workspaces button {
  background: @on_primary_fixed;
  color: @on_surface;
  margin: 5px;
  padding: 5px 20px;
  border-radius: 5px;
}

#workspaces button.active {
  background: @inverse_primary;
  color: @on_surface;
}

#clock,
#battery,
#pulseaudio,
#network {
  padding: 5px 20px;
  margin: 5px;
}

#clock,
#battery,
#pulseaudio,
#network {
  background: @background;
  border-radius: 5px;
}

#battery {
  background: @background;
  color: @on_surface;
}

#battery.charging {
  color: #26a65b;
  background: @background;
}

@keyframes blink {
  to {
    background-color: @error;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: @on_error;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
