@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: Adwaita Mono, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @background;
}

tooltip {
  background: @background;
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @on_susrface;
}

#workspaces button {
  padding: 5px 15px;
  margin: 7px;
  border-radius: 10px;
  background: @primary;
  color: @background;
}

#workspaces button.active {
  background: @background;
  color: @primary;
}

#window {
  padding: 5px 15px;
  margin: 7px;
  border-radius: 100px;
  background: @primary;
  color: @background;
}

#clock,
#battery,
#pulseaudio,
#network {
  padding: 5px 15px;
  margin: 7px;
  border-radius: 100px;
  background-color: @primary;
  color: @background;
}
